@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a:not(.unstyled):not(.header-anchor) {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    height: 3px;
    content: ' ';
    display: block;
    background-color: rgb(5, 150, 105);
    width: 12px;
    opacity: 0;
    right: 0;
    top: 1.4em;
    transition: 0.2s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }

  &:after {
    position: absolute;
    height: 3px;
    content: ' ';
    display: block;
    background-color: rgb(5, 150, 105);
    width: 12px;
    opacity: 0;
    left: 0;
    top: 1.4em;
    transition: 0.4s;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
  }

  &:hover, &.active {
    &:after {
      opacity: 1;
      width: 50%;
    }
    &:before {
      opacity: 1;
      width: 50%;
    }
  }
}

.prose {
  pre {
    max-height: 85vh;
  }
  a {
    color: rgb(7, 130, 97);
    font-weight: normal;
  }
  iframe {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  p > code, li > code {
    padding: .25rem 0.5rem;
    font-size: 1.125rem;
    border-radius: .125rem;
    background-image: linear-gradient(rgb(174, 239, 221), rgb(240 245 242));
    overflow-wrap: anywhere;
    word-break: break-word;
    font-weight: normal;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}